<header>
    <div class="topHeader">
        <div class="comapnyLogo">
            <img src="/assets/logo/companyIcon.svg" alt="company icon">
            <p>კლინიკა</p>
        </div>

        <div>
            <ul class="navigation">
                <li class="active">ექიმები</li>
                <li>კლინიკები</li>
                <li>ანოოტაციები</li>
                <li>აქციები</li>
                <li>სერვისები</li>
                <li>მედიკამენტები</li>
                <li>კონტაქტი</li>
            </ul>
        </div>

        <div>
            <app-auth></app-auth>
            <div class="eng">
                <p> ENG </p>
            </div>
        </div>
    </div>

    <div class="bottomHeader">
        <div class="contactInfo">
            <div>
                <img src="/assets/icons/phone.svg" alt="phone icon">
                <p>0322100100</p>
            </div>

            <div>
                <img src="/assets/icons/location.svg" alt="location icon">
                <p>იაკობ ნიკოლაძე №10</p>
            </div>
        </div>

        <form class="searchDoctor">
            <rs-input placeHolder="მოძებნე ექიმი სახელით"></rs-input>
            <rs-input placeHolder="მოძებნე სპეციალობით"></rs-input>

            <button class="search">
                <img src="/assets/icons/search.svg" alt="search icon">
            </button>
        </form>
    </div>
</header>