:host {
    margin: auto;
}

.authbox {
    padding: 11px 23px 15px 25px;
    background-color: #f0faff;
    border-radius: 25px;
}

.avth,
.reg {
    border: none;
    background-color: transparent;
}
