<footer>
    <div class="footer">
        <div class="comapnyLogo">
            <img src="/assets/logo/companyIcon2.svg" alt="company icon">
            <p>კლინიკა</p>
        </div>

        <div class="information">
            <div class="satauri">
                <p>ინფორმაცია</p>
                <p>პაციენტებისთვის</p>
                <p>კონტაქტი</p>
                <p>გამოგვყევით</p>

            </div>

            <div >
                <div>
                    <ul>
                        <li> ჩვენ შესახებ </li>
                        <li> პარტნიორები </li>
                        <li> ექიმებისთვის </li>
                        <li> კლინიკებისთვის </li>
                        <li> აფთიაქებისთვის </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li> ექიმები </li>
                        <li> კლინიკები </li>
                        <li>ანოტაციები</li>
                        <li>ბლოგი</li>
                        <li>მედია</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>სამუშაო დღეები: </li>
                        <li> ორშ - პარ </li>
                        <li> სამუშაო დრო: </li>
                        <li>9:00 - 17:00</li>
                        <li> იაკობ ნიკოლაძე №10</li>
                        <li> 032 2 100 100 </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li> Facebook </li>
                        <li> Instagram </li>
                        <li> Youtube </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p >
            copyright
        </p>
    </div>
</footer>